# Python
__pycache__/
*.pyc
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Build artifacts
dist/
build/
*.spec

# Temporary files
data/temp/*
!data/temp/.gitkeep # Keep the directory but ignore its contents